[submodule "vendor/bats"]
	path = vendor/bats
	url = https://github.com/sstephenson/bats.git
[submodule "vendor/shml"]
	path = vendor/shml
	url = https://github.com/MaxCDN/shml.git
[submodule "vendor/mo"]
	path = vendor/mo
	url = https://github.com/tests-always-included/mo.git
